@font-face {
    font-family: "viprawy";
    src: url("../myFont/viprawy.otf");
}

body{
    font-family: "viprawy";
    
}
.row{
    margin: 0;
}


/* NavBar Start */

.navbar{
    background-color: rgb(30, 54, 83);
    border-radius: 0;
    border: 0;
    font-size: 1.1em;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    transition: .5s;
    /* box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75); */
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-brand{
    
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    margin-right: 15px;
    transition: .5s;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    
    
}

.navbar-default .navbar-nav>.active>a{
    color: #fff;
    background-color: transparent; 
    border: 1px solid #fff;
}

.navbar-default .navbar-nav>.active>a:hover{
    color: #333;
    background-color: #fff;
    
}

.navbar-default ul li{
    color: #fff;
    float: right;
    
}
.navbar ul{
    transition: .5s;
    
}

.navbar-header{
    float: right;
    
}
.collapse ul{
    margin: 0;
    padding-right: 0px; 
    transition: .5s;
    
}


.navbar-brand{
    float: right;
    margin-right: 10px;
    font-size: 1.2em;
}
.navbar-toggle{
    float: left;
}


.navbar-collapse{
    padding: 0;
    
}
.navbar-default .navbar-collapse{
    border: none;
}

.scrolled{
    background-color: rgb(30, 54, 83);
    transition: .5s;
    padding: 0;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 760px){
    
.navbar-header{
    width: 100%;
    
}
    .navbar ul{
        width: 100%;
    background-color: rgb(30, 54, 83);
        padding: 15px 0px 10px 15px;
}
    
    .navbar-header{
    float: none;
    
}
    
    .navbar ul{
        
    }

    .navbar-default ul li{
        color: #fff;
        float: none;
        margin-bottom: 10px;
    }
    

}

/* NavBar End */



button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    font-size: 20px;
    transition: 0.4s;
}

 button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\061F';   /*Question Mark*/
    color: #777;
    font-weight: bold;
    float:left;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2715";
    font-size: 17px;
    line-height: 27px;
    color: #fff; 
}

div.panel {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 1.5em;
    margin-bottom: 0;
    border: .1px solid #fff;
    border-radius: 0;
}

.active + .panel{
    
    -webkit-box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.7);
box-shadow: 0px -10px 31px -1px rgba(0,0,0,0.7);

}

.mainSection .container{
    margin-top: 52px;
    
}

h1{
    text-align: center;
    margin-top: 30px;
}

hr{
    border: 0;
    height: 8px;
    margin: 0 auto;
    border-radius: 50px;
    width: 130px;
    background-color: rgb(30, 54, 83);
    margin-top: 15px;
    margin-bottom: 0px;   
}

hr:last-of-type{
    width: 80px;
    opacity: .8;
}

.accContainer{
    margin-top: 50px;
    padding: 0;
    
}

.acc{
    position: relative;
    width: 100%;
}

.title{
    position: absolute;
    left: -135px; top: 5px;
    padding: 15px;
    background-color: #333;
    color: #fff;
    display: none;
    transition: .5s;
}


.title::after{
   left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #333;
	border-width: 14px;
	margin-top: -13px;
}
.acc:hover .title{
    display: block;
}

.panel p{
    padding: 10px 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 760px){
    .panel p{
        font-size: 1em;
    }
    button.accordion{
        padding: 14px;
        font-size: 1.3em;
    }
}


.active ~ .title{
    background-color: #fff;
}

button.accordion.active{
    background-color: rgb(30, 54, 83);
    color: #fff;
    
}



/** Footer Start **/

footer{
    width: 100%;
    background-color: #333;
}

footer .social .col-xs-4{
    padding: 0;
    margin: 0;
}

footer a{
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: #fff;
}

footer .social{
    float: left;
}

footer .social a{
    padding: 15px;
    text-align: center;
    transition: .5s;
}

footer .social a:hover{
    transform: scale(1.3);
}
footer .social .row{
    margin: 0;
    padding: 21px 0px;
}

footer .social i{
    font-size: 30px;
}


footer .social a:hover{
    color: #fff;
    
}



footer .priv{
    float: left;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    
}
footer .priv a{
    padding: 20px;
}

footer .priv a:last-of-type{
    float: right;
    text-align: right;
}
footer .priv a:first-of-type{
    text-align: left;
}

footer .logo{
    
    float: left;
}



/** Footer End*/
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}
