@font-face {
    font-family: "viprawy";
    src: url("../myFont/viprawy.otf");
}

*{
    padding: 0;
    margin: 0;
    outline: none;
}

html{
    width: 100%;
}

body{
    font-family: 'Cairo', sans-serif;
    width: 100%;
    background-color: #f5f5f5;
}

.row{
    margin: 0;
}

a:active, a:visited{
    color: #fff;
    text-decoration: none;
}

.container{
    padding: 0;
}

.mainx{
    right: 7.5%;
}

.mark, .gd{
    right: 8%;
}

/** Start Message **/

.acc{
    position: fixed;
    width: 350px;
    right: 50%; bottom: 0px;
    transform: translate(50%);
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
    
    display: none;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 20px;
    transition: 0.4s;
    padding: 15px;
}

 button.accordion:hover {
    background-color: #ddd;
}

.accordion i{
    float: left;
    display: none;
    opacity: .8;
}
.accordion i:hover{
    opacity: 1;
}

button.accordion:hover i{
    display: block
}

.datex{
    display: block;
}

select.form-control{
    width: 25%;
    float: left;
    display: block;
}

.datex > label{
    padding-top: 6px;
}

.friendInf h5, .radioFather > label{
    margin: 0;
}
.friendInf{
    margin: 0;
    padding: 0;
}

.radio-inline{
    margin-right: 15px;
    margin-left: 5px;
}
.radio-inline span{
    margin-right: 15px;
}



/*
button.accordion:after {
    content: "\2715";   /*Question Mark
    color: #777;
    font-weight: bold;
    float:left;
    margin-left: 5px;
}


button.accordion.active:after {
    content: "\2715";
    font-size: 17px;
    line-height: 27px;
    color: #fff; 
    float:left;
}
*/

div.panel{
    width: 100%;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 1.5em;
    margin-bottom: 0;
    
    border-radius: 0;
}

.panel form{
    padding: 10px;
    padding-bottom: 20px;
}

.panel{
    border: 0;
}

form .send{
    padding: 10px 30px;
    background: #333AA7;
    color: #fff;
    font-size: 15px;
    transition: .5s;
    border: 1px solid rgb(38,64,91);
    
    margin-top: 10px;
    width: 100%;
}

form .send:hover{
    background-color: #fff;
    border: 1px solid #333AA7;
    color: #333AA7;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/** End Message **/

.mainSection .container{
    margin-top: 52px;
}

h1{
    text-align: center;
    margin-top: 30px;
}

hr{
    border: 0;
    height: 8px;
    margin: 0 auto;
    border-radius: 50px;
    width: 130px;
    background-color: #333AA7;
    margin-top: 15px;
    margin-bottom: 0px;   
}

hr:last-of-type{
    width: 80px;
    opacity: .8;
}

.accContainer{
    margin-top: 50px;
    padding: 0;
}

.title::after{
   left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #333;
	border-width: 14px;
	margin-top: -13px;
}
.acc:hover .title{
    display: block;
}

.panel p{
    padding: 10px 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 760px){
    .panel p{
        font-size: 1em;
    }
    button.accordion{
        padding: 14px;
        font-size: 1.3em;
    }
}


.active ~ .title{
    background-color: #fff;
}

button.accordion.active{
    background-color: #eee;
    color: #333;
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
}

/** End Message **/


/** Start main **/
.main{
    padding-top: 18px;
    
}

.coverContainer{
    position: relative;   
}

.info{
    padding: 0 0px 20px 0px;
    background-color: #fff;
    margin: 0 auto;
    float: none;
    box-shadow: 0 3px 3px rgba(0,0,0,.16);
    border-radius: 5px;
}

.coverContainer::after{
    content: "";
    display: block;
    clear: both;
}

.cover{
    height: 320px;width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 1s;
    padding: 0;
    -webkit-clip-path: polygon(50% 100%, 100% 76%, 100% 0, 0 0, 0 76%);
    clip-path: polygon(50% 100%, 100% 76%, 100% 0, 0 0, 0 76%);

}

.cov-cam{
    position: absolute;
    top: 20px; right: 30px;
    font-size: 17px;
    padding: 10px;
    color: #bcbcbc;
    background-color: #333;
    border: 1px solid #fff;
    display: block;
    opacity: .7;
    cursor: pointer;
}
.cov-cam:hover{
    opacity: 1;
}

.cov-cam i{
    font-size: 20px;
    margin-left: 5px;
}

.cover:hover ~ span{
    display: block;
    cursor: pointer;
}

div.main .profile{
    position: absolute;
    width: 140px;
    bottom: -130px; left: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}



.fa-pencil{
    position: absolute;
    color: rgb(57, 102, 157);
    font-size: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
    left: 55%; top: 107%;
    transform : translate(-60%,0%);
    opacity: .8;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
    display: block;
    
}

.info h3{
    margin-top: 75px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.personActions{
    text-align: center;
    margin-top: 20px;
}

.personActions button{
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    min-width: 100px;
    background-color: #CFCFCF;
    border: none;
    display: inline;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;    
}

.personActions button.send-btn{
    background-color: #333AA7;
    color: #fff;
    margin-right: 5px;
    position: relative;
    border-bottom-left-radius: 0;
}

.personActions button:hover{
    opacity: .8;
}

.personActions button.send-btn:after { 
   content: ""; 
    width: 15px;
	height: 20px;
	background: url(../img/icons/Btn-Tri.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px; top: 100%;
}

.send-btn i{
    margin-right: 7px;
    transition: transform .5s;
}

.send-btn:hover i{
    transform: scale(1.4);
}


.follow{
    text-align: center;
    margin-top: 20px;
}
.follow span{
    padding: 10px;
    font-size: 20px;
}
.follow i{
    color: #333AA7;
}

.follow span i{
    margin-right: 5px;
    font-size: 25px;
}

/** End Main **/


/** Start posts section **/

.posts-section{
    margin-top: 20px;
    margin-bottom: 10px;
}

.posts{
    border: 1px solid #b5b5b5;
    padding-bottom: 20px;
    background-color: #fff;
    margin: 10px auto 10px auto;
    float: none;
}

/* Post Style Start */

.post{
    min-height: 250px; width: 100%;
    margin: 30px auto;
    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color:#fff;
    position: relative;
    margin-bottom: 7px;
    border: 1px solid #b5b5b5;
    
}
.post img{
    float: left;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
.data{
    padding: 15px;
    font-size: 1.3em;
}
.data .name{
    margin-top: 20px;
    margin-left: 10px;
    color: #333;
}
.date{
    display: block;
    margin-top: 20px;
    font-family: sans-serif;
}
.post p{
    font-size: 1.8em;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    
}
.post .hr{
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 2px;
    border: 0;
    background-color: rgb(40,147,127);
}

.postActions{
    position: absolute;
    bottom: 0px; left: 0;
    width: 100%;
    border-bottom-right-radius: 40px;
    height: 60px;
}

.react{
    position: absolute;
    float: left;
    left: 0;
    width: 35%; height: 60px;
    padding: 0px 30px 0 15px;
}

.react svg{
    min-width: 10%;
    float: left;
    margin-top: 3px;
    margin-right: 3%;
    height: 55px;
    cursor: pointer;
}


svg text{
    text-align: center;
    font-size: 20px;
}

.comment{
    color:  rgb(40,147,127);
    font-size: 50px;
    text-align: center;
    position: relative;
    left: -35%;
}

.comment span{
    font-size: 25px;
    position: absolute;
    top: 25%; left: 40%;
}

 
.share{
    width: 90px;
    text-align: center;
    float: right;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    margin-top: 5px;
    background-color: rgb(40,147,127);
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50px;
}

.share-btns{
    background-color: #fff;
   
    width: 40%; 
    position: fixed;
    top: 50%; right: 50%;
    transform: translate(50%, -50%);
    padding: 10px 10px;
     -webkit-box-shadow: 0px 0px 2px 1px #000;
    -moz-box-shadow: 0px 0px 2px 1px #000;
    box-shadow: 0px 0px 2px 1px #fff;
     
    z-index: 100;
}
.share-btns h2{
    display: inline;
    margin: 0;
}

.share-close{
    float: left;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    color: #808080;
}

.share-btns i:hover{
    color: #000;
}

.share-btns .icons{
    text-align: center;
    margin-top: 20px;
}
.share-btns .icons i{
    font-size: 50px;
    padding: 20px;
    color: #fff;
}

.share-btns .icons i.fa-facebook{
    background-color: #3B5998;
}
.share-btns .icons i.fa-twitter{
    background-color: #1DA1F2;
}

.share-btns .icons i.future{
    background: linear-gradient(to bottom right, #00A89C, rgb(8,134,174));
    font-size: 0px;
}

.share-overlay{
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.share-btns, .share-overlay{
    display: none;
}



@media screen and (max-width: 991px){
    .posts-section .container{
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 70px; 
    }
    
     .acc{
        bottom: 45px;
    }
    

}



/* Post Style End */



/** End posts section **/