*{
    padding: 0;
    margin: 0;
    outline: none;
}

html{
    width: 100%;
}

body{
    width: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.row{
    margin: 0;
}

.container{
    padding: 0;
}

.mainx{
    right: 7.5%;
}

.mark, .gd{
    right: 8%;
}


/** Start Message **/




/******************** Modals Styles  *****************/

#changeImgModal .modal-content{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: none;
}
#changeImgModal .modal-body span{
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
#changeImgModal .modal-body{
    padding-bottom: 10px;
}
#changeImgModal img{
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    margin-top: 10px;
}

#updateImgModal .modal-content{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 200px; 
}

#updateImgModal .modal-content button{
    width: 50%;
    background-color: #fff;
    float: left;
    padding: 30px ;
    border: none;
    transition: .3s;
}

#updateImgModal .modal-content button:first-of-type{
    border-right: 1px solid #d6d6d6;
}

#updateImgModal .modal-content button i{
    color: #3337AA;
    font-size: 50px;
    margin-bottom: 15px;
    transition: .3s;
}
#updateImgModal .modal-content button span{
    display: block;
    font-size: 28px;
    font-weight: 400;
}

#updateImgModal .modal-content button:hover{
    background-color: #3337AA;
    color: #fff;
}

#updateImgModal .modal-content button:hover i{
    color: #fff;
}


.profileReciver h3{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.profileReciver img{
    width: 30px;height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.profileReciver span{
    font-weight: 600;
}


/***** End Modals Styles  *******/


.accContainer{
    margin-top: 50px;
    padding: 0;
}

.title::after{
   left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #333;
	border-width: 14px;
	margin-top: -13px;
}
.acc:hover .title{
    display: block;
}

.panel p{
    padding: 10px 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 760px){
    .panel p{
        font-size: 1em;
    }
    button.accordion{
        padding: 14px;
        font-size: 1.3em;
    }
}


.active ~ .title{
    background-color: #fff;
}

button.accordion.active{
    background-color: #eee;
    color: #333;
    font-weight: 600;
    font-size: 17px;
    font-weight: 600;
}

/** End Message **/


/** Start main **/
.main{
    padding: 0px;
    float: none;
    margin: 0 auto;
    margin-top: 19px;
    padding-bottom: 80px;
}

.coverContainer{
    position: relative;   
}

.info{
    padding: 0 0px 15px 0px;
    background-color: #fff;
    float: none;
    box-shadow: 0 3px 3px rgba(0,0,0,.16);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}
.coverContainer::after{
    content: "";
    display: block;
    clear: both;
}
.cover{
    height: 320px;width: 100%;
    object-fit: cover;
    cursor: pointer;
    
    padding: 0;
    -webkit-clip-path: polygon(50% 100%, 100% 86%, 100% 0, 0 0, 0 86%);
    clip-path: polygon(50% 100%, 100% 86%, 100% 0, 0 0, 0 86%);
    
    filter: drop-shadow(1px 1px 1px #333);
    

}
.cov-cam{
    position: absolute;
    top: 20px; right: 30px;
    font-size: 14px;
    font-weight: 600;
    padding: 7px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.89);
    border: 2px solid #333AA7;
    display: block;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    line-height: 16px;
}
.coverContainer:hover .cov-cam:hover{
    opacity: 1;
}

.cov-cam i{
    font-size: 20px;
    color: #333AA7;
}

.coverContainer .cover:hover ~ form label{
    opacity: 1;
    cursor: pointer;
}

.info h3{
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.personActions{
    text-align: center;
    margin-top: 20px;
}

.personActions button{
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    padding: 7px 0px;
    min-width: 90px;
    background-color: #CFCFCF;
    border: none;
    display: inline;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;    
}

.personActions button.send-btn{
    background-color: #333AA7;
    color: #fff;
    margin-right: 5px;
    position: relative;
    border-bottom-left-radius: 0;
}

.personActions button:hover{
    opacity: .8;
}

.personActions button:active{
    transform: scale(.97);
}

.personActions button.send-btn:after { 
   content: ""; 
    width: 15px;
	height: 20px;
	background: url(../img/icons/Btn-Tri.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px; top: 95%;
}

.send-btn i{
    margin-right: 7px;
    transition: transform .5s;
}

.send-btn:hover i{
    transform: scale(1.4);
}

.follow{
    text-align: center;
    margin-top: 20px;
}
.follow span{
    padding: 10px;
    font-size: 20px;
}
.follow i{
    color: #333AA7;
}

.follow span i{
    margin-right: 5px;
    font-size: 25px;
}

#blockBtn{
    background-color: #D51212;
    border: none;
    overflow: hidden;
    display: block;
    float: left;
    padding: 5px 8px;
    margin-left: 15px;
    border-radius: 3px;
}

#blockBtn svg{
    display: block;
    float: right;
    width: 15px; height: 20px;
    margin-left: 5px;
}

#blockBtn span{
    display: block;
    float: right;
    color: #fff;
    font-weight: 600;
}
#blockBtn:hover{
    opacity: .8;
}
#blockBtn:hover svg{
    transform: scale(1.19);
}
#blockBtn:active{
    transform: scale(.97);
}


.ppContainer{
    position: absolute;
    top: 320px; left: 50%;
    transform : translate(-50%,-50%);
    
    border-radius: 50%;
}
.ppContainer .profile{
    width: 140px; height: 140px;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
         box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
    object-fit: contain
}

.ppContainer button#editPP{
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.94);
    position: absolute;
    bottom: 0; right: 10px;
    border: 2px solid #333AA7;
    
    width: 30px; height: 30px;
    opacity: 0;
}

.ppContainer #editPP svg{
    width: 18px; height: 14px;
    object-fit: contain;
    fill: #333AA7;
    
}

.ppContainer:hover button#editPP{
    opacity: 1;
}

button#editPP form{
    position: relative;
    width: 100%;
    height: 100%;
}

.info form input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    left: 0; top: 0;
	z-index: -1;
}

button#editPP form input[type="file"] + label {
    display: block;
    cursor: pointer;
}



/** End Main **/

/********* Post Section **********/

.postsSection{
    margin-top: 20px;
}

.postsSection::after{
    content: "";
    display: block;
    clear: both;
}

.msgCategory{
    margin-bottom: 0px;
    
}

.msgCategory::after{
     content: "";
    clear: both;
    display: table;
}

.msgCategory .ctgTitle + .post{
    margin-top: 15px;
}

.ctgTitle{
    width: 100%;
    padding: 5px 10px;
    background-color: #eee;
    
    position: sticky;
    top: 48px;
    z-index: 1;
}

.ctgTitle svg{
    width: 25px; height: 25px;
    float: right;
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 5px;
    fill: #333AA7;
}

.ctgTitle h4{
    font-weight: 600;
    font-size: 15px;
}

button#ViewAllMsgs{
    width: calc(100% - 20px);
    margin-right: 10px;
    background-color: #333AA7;
    border: none;
    padding: 7px 0;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 30px;
}

button#ViewAllMsgs:hover{
    opacity: .9;
}
button#ViewAllMsgs:active{
    transform: scale(.993);
}

/*** End Posts Section ***/

@media screen and (max-width: 991px){
    body{
        padding-bottom: 60px;
    }
     .acc{
        bottom: 45px;
    }
    .modal-dialog{
        width: 80%;
        left: -10px;
    }
    #multiImgPreview{
        width: 85%;
    }
    .cov-cam, .ppContainer button#editPP{
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    #updateImgModal .modal-content button{
        width: 100%;
    }
    .modal-dialog{
        width: 100%;
    }
    #updateImgModal .modal-content button:first-of-type{
        border: 0;
        border-bottom: 1px solid #eee;
    }
    .info{
        border-radius: 0;   
    }
}
