@font-face {
    font-family: "viprawy";
    src: url("../myFont/viprawy.otf");
}

::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(185, 12, 12, 0);
    background-color:transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #3337aa;
    height: 50px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
    font-family: "viprawy";
    background-color: #E9EBEE;
    
}

.row{
    margin: 0;
}

a:active, a:visited{
    color: #fff;
    text-decoration: none;
}


.mainContainer{
    margin-top: 50px;
    margin-bottom: 40px;
    min-height: 500px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 7px 26px rgba(28, 72, 126, 0.20);
    padding: 0;
    overflow: hidden;
    display: flex;
    
}

.birds{
    background: url(../img/Birds.png);
    background-size: contain;
    background-color: transparent;
    position: absolute;
    width: 300px; height: 300px;
    z-index: 0;
    right: 0px; top: 240px;
    display:none;
    
}

.cloud{
    background: url(../img/cloud.png) no-repeat;
    background-size: contain;
    background-color: transparent;
    position: absolute;
    width: 180px; height: 100px;
    z-index: 0;
    left: 10px; top: 20px;
    display:none;
    
}

.cloud2{
    background: url(../img/cloud2.png) no-repeat;
    background-size: contain;
    background-color: transparent;
    position: absolute;
    width: 120px; height: 100px;
    z-index: 0;
    left: 180px; top: 10px;
    display:none;
    
}

.cloud3{
    background: url(../img/cloud.png) no-repeat;
    background-size: contain;
    background-color: transparent;
    position: absolute;
    width: 200px; height: 100px;
    z-index: 0;
    left: 60px; top: 120px;
    display:none;
    
}


.formContainer{
    width: 50%;
    float: left;
    padding :10px 20px;
}

.formContainer h2{
    text-align: center;
}

.loginContainer{
    width: 50%;
    background: url(../img/register-bg.jpg) center;
    background-size: cover;
    position: relative;
    
}

.loginContainer .overlay{
    background: #2982aa; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2982aa 0%, #3337aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2982aa 0%,#3337aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2982aa 0%,#3337aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2982aa', endColorstr='#3337aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    min-height: 300px;
    width: 100%;
    opacity: .67;
    color: #fff;
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    
}

.loginContainer .content{
    position: absolute;
    color: #fff;
    top: 45%;
    transform: translate(0,-50%);
    width: 100%;
    text-align: center;
}

.loginContainer .content h1{
    font-size: 3em;
    margin-bottom: 50px;
}

.loginContainer .content a{
    color: #fff;
    font-size: 18px;
    display: block;
    width: 120px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 3px 0;
    border: 3px solid #fff;
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.loginContainer .content a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #3337AA;
}

form{
    overflow: hidden;
    
}

form.signUp{
    display: grid;
    grid-template-columns: 50fr 50fr;
}

.nameContainer , .mailContainer, .mobileContainer, .passContainer{
    float: right;
    padding-left: 10px;
}


form .nameContainer:nth-of-type(2), .mobileContainer, .passContainer:last-of-type{
    float: left;
    padding-right: 10px;
}


input{
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #eee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    transition: .2s;
}

input:focus{
    border-color: #2982aa;
}

.nameContainer input{
    margin-bottom: 0;
}

.nameContainer input{
    background: url(../img/icons/male.png) no-repeat scroll 10px 10px #fff;
}

input[type="email"]{
    background: url(../img/icons/mail.png) no-repeat scroll 10px 10px #fff;
    direction: ltr;
    padding-left: 40px;
    font-family: sans-serif;
}

input[type="password"]{
    background: url(../img/icons/pass.png) no-repeat scroll 10px 10px #fff;
}


.keyContainer{
    position: relative;
}

.mobileContainer input{
    background: url(../img/icons/mobile.png) no-repeat scroll 10px 10px #fff;
    direction: ltr;
    padding-left: 60px;
    font-family: sans-serif;
}

.mobileContainer select{
    float: left;
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-family: sans-serif;
    width: 50px;
    height: 36px;
    border: none;
    border-right: 1px solid #eee;
    cursor: pointer;
    outline: none;
}

.mobileContainer option{
    cursor: pointer;
}

form > div{
    margin-bottom: 0px;
    margin-top: 20px;
}

.error{
    color: red;
    display: block;
    margin-top: -5px;
    float: right;
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
    display: none;
}
 .error::before{
        content: '\002a';
        color: red;
        display: inline;
        right:2px; top: -5px;
}

form button[type="submit"]{
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 30px;
    border: none;
    width: 100px;
    
    background: #2982aa; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2982aa 0%, #3337aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2982aa 0%,#3337aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2982aa 0%,#3337aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2982aa', endColorstr='#3337aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}

form button[type="submit"]:hover{
    background: #3337aa;
}

.socialSign{
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.socialSign h5{
    margin-bottom: 15px;
}

.socialSign a{
    display: block;
    width: 33.33%;
    float: left;
    color: #fff;
    background-color: #4267B2;
    padding: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 18px;
}

.socialSign a:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../img/icons/facebook-logo.png);
    
}

.socialSign a:nth-child(3){
    background-color: #1DA1F2;
    background-image: url(../img/icons/twitter-logo.png);
}

.socialSign a:last-of-type{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #EA4335;
    background-image: url(../img/icons/google-plus.png);
    background-repeat: no-repeat;
     background-position: 10px;
    
}

.small-sign{
    display: none;
}

footer{
    text-align: center;
    color: #7b7979;
    font-family: sans-serif;
    font-size: 12px;
}

footer a{
    font-weight: 600;
    color: #7b7979;
    text-decoration: underline;
    
}

footer a:hover{
    color: #333;
}


/********** Sign In Style   ****/

.remember{
    float: right;
    display: block;
    width: 100%;
}

.remember input{
    box-shadow: 0 0 0;
    display: inline;
    margin: 0;
    width: 20px;
}

.remember .pass{
    float: left;
}

.remember .pass a{
    color: #7e7e7e;
}

/***************************/


@media screen and (max-width: 991px){
    .formContainer{
        width: 90%;
    }
    
    
}

@media screen and (max-width: 767px){
    .formContainer{
        width: 100%;
        
    }
    .loginContainer{
        display: none;
    }
    .mainContainer{
        margin-top: 0;
        border-radius: 0;
        background: #2982aa; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #2982aa 0%, #3337aa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #2982aa 0%,#3337aa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(41, 130, 170, 0.83) 0%,rgba(51, 55, 170, 0.83) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2982aa', endColorstr='#3337aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        margin-bottom: 0;
    }
    
    label,h2,h5{
        color: #fff;
    }
    
    .container{
        padding: 0;
    }
    
    body{
        background: url(../img/register-bg.jpg);
    }
    
     .mailContainer, .mobileContainer, .passContainer,.passContainer:last-of-type{
        width: 100%;
        padding-left: 0;
         padding-right: 0;
    }
    
  
    .nameContainer{
        padding-left: 0;
    }
    
    .error{
        color: #fff;
        padding-right: 20px;
        position: relative;
    }
    
   
    
    form button[type="submit"]{
        background: #fff;
        color: #3337aa;
        margin-left: 10px;
    }
    
    form button[type="submit"]:hover{
        color: #fff;
    }
    
    .small-sign{
        color: #fff;
        display: inline;
    }
    .small-sign a{
        font-size: 20px;
        color: #fff;
    }
    
    .error::before{
        color: red;
        font-size: 25px;
        display: inline;
        position: absolute;
        right:2px; top: -5px;
    }
    
    .socialSign a{
        margin-bottom: 5px;
        background-size: 16px;
        
    }
    .socialSign a:last-of-type{
        background-size: 16px;
    }
    footer{
        display: none;
    }
}